.left-side-profile{
    padding:25px;
    border: 1px solid #C2C2C2;
    width: 300px;
    border-radius: 8px;
    .title{
        border-bottom: 1px solid #C2C2C2; 
        padding:10px 0;
    }
    @media only screen and (max-width: 1199px) {
        width: 100%;
    }
}

