.OrdersPage {
  .AddressCard,
  .MyCoinCard {
    margin-bottom: 2.4rem;
  }

  &-title {
    font-size: 1.8rem;
    text-transform: uppercase;
    line-height: 2.4rem;
    color: $ebony-clay;
    margin-bottom: 1.6rem;
    font-weight: 500;
  }

  &-search {
    margin-bottom: 3.2rem;
  }

  &-list {
    overflow: auto;
    padding-bottom: 1.6rem;

    &-item {
      column-gap: 2.4rem;

      &:not(:last-child) {
        margin-bottom: 1.6rem;
      }

      strong {
        font-size: 1.6rem;
        line-height: 2.2rem;
        color: $ebony-clay;
        font-weight: 700;
        white-space: nowrap;
      }

      del {
        font-size: 1.4rem;
        font-weight: 500;
        color: $silver-chalice;
        line-height: 2rem;
        white-space: nowrap;
      }

      &-image {
        position: relative;
        flex: 0 0 12rem;
        max-width: 12rem;
        width: 12rem;
        height: 12rem;
      }

      &-info {
        flex: 1;
        min-width: 20rem;

        &-subtitle {
          font-size: 1.4rem;
          line-height: 1.8rem;
          color: $ebony-clay;
          margin-bottom: 0.8rem;
        }

        &-title {
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 2.2rem;
          color: $dove-gray;
        }
      }
    }

    &-footer {
      padding-top: 1.6rem;
      border-top: 1px solid $silver;
      font-size: 1.6rem;
      color: $ebony-clay;
      line-height: 2.2rem;

      strong {
        font-size: 1.8rem;
        font-weight: 700;
        margin-left: 0.8rem;
      }
    }
  }
}
