.item-cart-right{
    .img{
        width: 120px;
        height: 120px;
        margin-right: 20px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F0F0F0;
    }
    img{
        max-height: 120px;
    }
    margin-bottom: 20px;
}
