.purchase-history{
    padding:15px;
    border: 1px solid #C2C2C2;
border-radius: 2px;
margin-bottom:20px;
.border-bottom-gray{
    border-bottom: 1px solid #C2C2C2; 
}
.image-item{
    width: 120px;
    height: 120px;
    background-color: #F0F0F0;
}
}
