.ReviewModal {
  &-header {
    margin-bottom: 2.4rem;
    padding-bottom: 2.4rem;
    border-bottom: 1px solid $mischka;
  }

  &-body {
    &-title {
      font-size: 2rem;
      line-height: 2.8rem;
      font-weight: 600;
      color: $ebony-clay;
      text-transform: uppercase;
      margin-bottom: 0.4rem;
    }
  }

  &-uploads {
    margin-top: 2.4rem;

    &-item {
      position: relative;
      width: 8rem;
      height: 8rem;
      border-radius: .4rem;
      overflow: hidden;
      cursor: pointer;
      transition: $common-transition;
      border: 1px solid transparent;
      @include centerOriginImage;

      &:hover {
        border-color: $gold;
      }
    }
  }

  .ant-form-item {
    margin-bottom: 2.4rem;

    .ant-rate {
      font-size: 3rem;
      display: flex;
      justify-content: center;
      column-gap: 1.6rem;
    }
  }

  &-quick-options {
    margin-top: 3.6rem;

    &-item {
      border-radius: 10rem;
      padding: .6rem 1rem;
      font-size: 1.4rem;
      line-height: 1.6rem;
      color: $dodger-blue;
      background: $alice-blue;
      border: 1px solid transparent;
      transition: $common-transition;
      cursor: pointer;

      &:hover,
      &.active {
        border-color: $dodger-blue;
      }
    }
  }

  &-submit {
    margin-top: 2.4rem;
  }
}
