.policy {
  h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
  }
  p {
    text-indent: 50px;
    text-align: justify;
  }

  ul {
    text-indent: 50px;
  }
}
