.btn {
  padding: 10px 16px;
  background: linear-gradient(279.09deg, #C99400 0%, #FDD116 100%);
  border-radius: 6px;
  color: white;

  &.outline {
    background: white;
    color: #D69A00;
    border: 1px solid #D69A00;
    box-sizing: border-box;
  }
}

.contentItem {
  padding: 0 4px;
}

.btnBid {
  position: relative;
  button.hint {
    opacity: 0;
    position: absolute;
    top: -5px;
  }
  .bidtext {
    font-weight: 500;
  }

  &:hover {
    cursor: pointer;
    button.bid {
      opacity: 0;
    }
    button.hint {
      opacity: 1;
    }
  }
}

// HOMEPAGE

.homeNotification {
  padding: 24px 0;
  display: grid !important;
  grid-template-columns: auto 280px;
  grid-column-gap: 24px;
}

.rc-menu-item{
  cursor: pointer;
}
