.CartTransferPayment {
  &-description {
    margin-bottom: 1.6rem;
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: $ebony-clay;

    &.gray {
      color: $gray;
    }

    strong {
      font-weight: 600;
      color: $ebony-clay;
    }
  }

  &-card {
    padding: 1.6rem;
    border: 1px solid $silver;
    border-radius: .2rem;
    margin-bottom: 3.2rem;

    &-header {
      padding-bottom: 1.6rem;
      column-gap: 2.4rem;

      @media (max-width: 575px) {
        flex-direction: column;
        row-gap: 2.4rem;
      }
    }

    &-body {
      padding-top: 1.6rem;
      border-top: 1px solid $mischka;

      .Input {
        .ant-input-affix-wrapper {
          border: none;
        }
        .ant-input-suffix,
        .ant-input {
          background: $zircon;
        }
      }
    }
  }

  &-warning {
    padding: 1.2rem;
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: $guardsman-red;
    border-radius: .2rem;
    background: $fair-pink;
    margin-bottom: 2.4rem;
  }

  &-search {
    margin-bottom: 2.4rem;
  }

  &-submit {
    .Button {
      width: fit-content;
    }
  }
}
